html, body {
    margin: 0;
    padding: 0;
    font-family: 'Anaheim', sans-serif;
    font-weight: 100;
    background-color: black;
}

div {
  margin: 0;
  padding: 0;
}

header {
    background-color: black;
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, .5);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header h1 {
    display: inline-block;
    height: 120px;
    line-height: 110px;
    float: left;
    font-size: 36px;
    color: white;
    font-weight: 1000;
    padding: 0 0 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav {
    display: inline-block;
    float: right;
}

header nav a {
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 0 5px;
  text-decoration: none;
  display: inline-block;
  line-height: 150px;
  margin-left: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
 }

header nav a:hover, a:active {
    background-color: red;
}

h1 a:hover, a:active {
    background-color: red;
}

header.smaller {
    height: 50px;
}

header.smaller h1 {
    height: 50px;
    line-height: 18px;
    font-size: 24px;
}

header.smaller nav {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

header.smaller nav a {
    line-height: 50px;
    font-size: 16px;
}

.first {
  margin: 0 auto;
  position: relative;
  height: 100%;
  text-align: center;
  background-color: black;
  display: block;
  color: white;
}

.first h1 {
  font-size: 48px;
  padding: 200px 0 0 0;
}

.first h2 {
  font-size: 36px;
  padding: 50px 0 50px 0;
}

.container {
  margin: 0 auto;
  position: relative;
  height: 100%;
  text-align: center;
  background-color: black;
  display: block;
  color: white;
  padding: 0;
}

.container h2 {
  font-size: 36px;
  padding: 50px 0 50px 0;
}

.btn {
    color: white;
    background: red;
    padding: 10px 40px;
        margin: 10px 40px;
    text-decoration: none;
        text-transform: uppercase;
        border: 2px solid white;
        border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    color: black;
}

#me {
  transition: 0.6s ease-in-out;
}

#me:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}

table {
    margin: 0px auto;
    border: 0px;
    width: 70%;
}

td {
    background-color: #808080;
    padding: 7px;
    margin: 0px 0px 0px 0px;
    width: 50%;
    transition: 0.4s;
}

td:hover {
    background-color: #ddd;
}

.left {
    color: white;
    margin: 0px 10px 0px 10px;
    float: left;
    text-align: left;
    width: 40%;
}

.right {
    color: white;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    float: right;
    text-align: right;
    width: 40%;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.right:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1, 1.0);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1, 1.0);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1, 1.0);
    transition: all 200ms ease-in;
    transform: scale(1.1, 1.0);
}

#projects img {
  display: inline-block;
  width: 20%;
}

#projects a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

#projects a:hover {
  color: red;
}

#contact {
  color: white;
  background-color: black;
  text-align: center;
}

#contact p {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

#form {
  background-color: black;
  text-align: center;
  height: 100%;
}

#form .btn {
  display: inline-block;
}

#form p {
  color: white;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

#formbox {
    width: 340px;
    margin: 0 auto;
        clear: both;
    height: 100%;
    background: #7A1631;
    background: #7A1631 -webkit-linear-gradient(#FF0000,#8C0000);
    background: #7A1631 -moz-linear-gradient(#FF0000,#8C0000);
    background: #7A1631 -o-linear-gradient(#FF0000,#8C0000);
    background: #7A1631 -ms-linear-gradient(#FF0000,#8C0000);
    background: #7A1631 linear-gradient(#FF0000,#8C0000);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#8C0000',GradientType=0 );
    border: 1px solid #8C0000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
    -moz-box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
    box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
    padding: 10px 10px 10px 10px;
}

label {
  color: white;
}

input, textarea {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid white;
  font-size: 14px;
  border-radius: 2px;
  color: gray;
    background: -webkit-linear-gradient(#FFF,#DDD);
    background: -moz-linear-gradient(#FFF,#DDD);
    background: -o-linear-gradient(#FFF,#DDD);
    background: linear-gradient(#FFF,#DDD);
    -pie-background: linear-gradient(#FFF, #DDD);

    -webkit-box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
    -moz-box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
    box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
}

input:focus, textarea:focus {
  outline: solid red;
}

footer {
  text-align: center;
  background-color: black;
 }

footer p {
  color: white;
 }

footer img {
  max-height: 28px;
  margin: 10px 40px 10px 40px;
  transition: all 0.3s ease 0s;
}

.social-icon {
  margin: 20px 40px 10px 40px;
}

footer img:hover, a:active {
    transform: scale(1.2);
}

.clearfix {
    overflow: auto;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* MODAL POPUP */

#modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalcontent {
    position: absolute;
    color: gray;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 75%;
    padding: 20px;
    border: 10px solid red;
    border-radius: 25px;
    background-color: #ddd;
}
.modalcontent h1 {
    color: black;
    font-size: 24px;
}
.modalcontent button {
    color: white;
    background-color: red;
    font-size: 20px;
    border: 2px solid white;
    text-transform: uppercase;
    margin: 5px 0px 60px 0px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.modalcontent button:hover {
    transform: scale(1.2);
}


/* Mobile */
@media all and (max-width: 660px) {

    body {

    }

}

